#quotes{
    margin-top: 50px;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -49px;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
}

.carousel {
    width: 1000px;
    margin: auto;
    right: -435px;
}